Repository etcd-io/bbolt, pull requests merged in 2024-12, with the labels that each got.

#867 Updated Go toolchain to 1.23.4
  .go-version
  go.mod
Labels: ok-to-test, size/XS, approved

#868 [1.3] Updated Go Version to 1.22.10
  .go-version
  go.mod
Labels: ok-to-test, size/XS

#871 docs: remove repetitive words
  cursor_test.go
Labels: ok-to-test, size/XS, approved

#879 Update buildtags
  bolt_aix.go
  bolt_arm64.go
  bolt_loong64.go
  bolt_mips64x.go
  bolt_mipsx.go
  bolt_ppc.go
  bolt_ppc64.go
  bolt_ppc64le.go
  bolt_riscv64.go
  bolt_s390x.go
  bolt_unix.go
  boltsync_unix.go
  mlock_unix.go
  unix_test.go
Labels: ok-to-test, size/S, approved
